<header class="nav">
  <nav>
  	<div id="menuToggle">
  		<input type="checkbox"/>
  		<span></span>
  		<span></span>
  		<span></span>
      <ul id="menu" class='container highlightTextOut'>
        <li><a alt="HOME">HOME</a></li>
        <li><a alt="ARTICLES">ARTICLES</a></li>
        <li><a alt="PORTFOLIO">PORTFOLIO</a></li>
        <li><a alt="ABOUT">ABOUT</a></li>
        <li><a alt="CONTACT">CONTACT</a></li>
      </ul>
  	</div>
  </nav>
</header>


<div class="wrapper">
  <div class="hero">
    <section class="nerdy-pen">
      <h1 class="nerdy-pen__text">I am
       <span
          class="txt-rotate"
          data-period="2000"
          data-rotate='[ "modular minded.", "accessibility focused.", "data driven.", "a researcher.", "a web padawan.", "a developer." ]'></span>
      </h1>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="white" points="0,100 100,0 100,100"/>
    </svg>
  </div>

  <section class='about reveal'>
    <h2 class='margin40'><span class="underline--magical">About</span></h2>
    <div class="content">
      <div class="left">
        <div class="hexagon">
          <div class="hexagon-in1">
            <div class="hexagon-in2 jake" id='jake'></div>
          </div>
        </div>
      </div>
      <div class="right">
        <p>After being exposed to code in a web development internship many moons ago, I realised that this apparently difficult role was in fact quite easy to pick up and vaguely enjoyable. I knew that coding would always be an option for me, but reluctantly pursued a career that used my biology degree out of a sense of misplaced loyalty or something.</p>
        <p>Returning from a mind-opening meditative trance of a journey around SE Asia, I realized I’m getting past my prime and should actually be doing something I enjoy with my life – so when my dream of being a Psychedelic Indie/Alternative rock god was destroyed, I applied to General Assembly.</p>

      </div>
    </div>
  </section>

  <section class='spotify reveal'>
    <div class="content">
      <div class="left">
        <p>If you can’t already tell from my Padawan comment earlier, I’m a full on Star Wars fan. On top of this I am immersed in the London LoFi/Indie scene and will take any opportunity to go to a small room above a pub to sway intimately to the depressing tunes of nearly unknown bands.</p>
        <p class='second'>I’ve taken the liberty of embedding a Spotifiy playlist, showcasing an eclectic mix of my tastes, from dreampop to psychedelic folk. <span class='underline--magical'>Enjoy!</span></p>
      </div>
      <div class="right">
        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1122703268%3Aplaylist%3A0EolNWdCQ2vSGnpTOryOPo" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </section>


<section class='about skills reveal'>
  <h2><span class="underline--magical">Skills</span></h2>
  <div class="content">
    <div class="left">
      <canvas id="myRadarChart"></canvas>
    </div>
    <div class="right">
      <p>Here is a radar graph of my base stats. High base INT and CHA has allowed me to get to where I am today with minimal grinding, however low base LUK and STR has prevented me from reaching top tier, and having low STA has lead to a crippling dependance on caffine.</p>
    </div>
  </div>
    <h2 class='tech'><span class="underline--magical">Technologies</span></h2>
  <%# <div class="legendBox">
		<div class="languages">
			<p><div> </div>Languages</p>
		</div>
    <div class="frameworks">
      <p><div> </div>Frameworks</p>
    </div>
    <div class="libraries">
      <p><div> </div>Libraries</p>
    </div>
    <div class="wow">
      <p><div> </div>Ways of working</p>
    </div>
    <div class="version">
      <p><div> </div>Version control</p>
    </div>
    <div class="other">
      <p><div> </div>Other</p>
    </div>
	</div>%>
  <canvas id="myChart" width="800" height="400"></canvas>
</section>

<section class='portfolio'>
  <h2><span class="underline--magical">Portfolio</span></h2>

  <div class="content denim">
    <div class="left">
      <div class="screen">
        <div class="device">
          <div class="e"></div>
          <div class="f"></div>
          <div class="g"></div>
          <div class="h"></div>
          <div class="i"></div>
          <div class="j"></div>
          <div class="k"></div>
          <div class="l">
            <div class="apple">
              <div class="appleLeft">
                <div class="apple-1el"></div>
              </div>
              <div class="appleRight">
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="inc-btn"></div>
                <div class="btn"></div>
              </div>
            </div>
          </div>
          <div class="b"></div>
          <div class="a"></div>
          <div class="m"></div>
        </div>
      </div>
      <div class="phone">
        <div class="iphone-body">
          <div class="camera-1"></div>
          <div class="camera-2"></div>
          <div class="iphone-screen"></div>
        </div>
</div>
      </div>

<div class="right">
    <h1 class='flicker'>jean fit guide</h1>
    <p>Editorial feature page built with HTML, CSS, SASS, JavaScript and jQuery. Responsive and Modular, features a sticky navigation that collapses into an accordion on mobile to reduce page depth. </p>
   <div class="btn-box">
     <a href="">
       <p class='btn-fade'>click to view</p>
     </a>
   </div>
</div>
</div>

<div class="content christmas">
  <div class="right">
    <h1 class='flicker'>christmas<span>campaign</span></h1>
    <p>Multiple editorial feature pages were built for this campaign using front end technologies. The campaign features an in-page sticky navigation, a seperate bottom navigation leading to more inspiration in the campaign, embedded video, paralax scrolling and scroll reveal as well as CSS animation.</p>
   <div class="btn-box">
     <a href="">
       <p class='btn-fade'>click to view</p>
     </a>
   </div>
  </div>
  <div class="left">
    <div class="screen">
      <div class="device">
        <div class="e"></div>
        <div class="f"></div>
        <div class="g"></div>
        <div class="h"></div>
        <div class="i"></div>
        <div class="j"></div>
        <div class="k"></div>
        <div class="l">
          <div class="apple">
            <div class="appleLeft">
              <div class="apple-1el"></div>
            </div>
            <div class="appleRight">
              <div class="btn"></div>
              <div class="btn"></div>
              <div class="btn"></div>
              <div class="inc-btn"></div>
              <div class="btn"></div>
            </div>
          </div>
        </div>
        <div class="b"></div>
        <div class="a"></div>
        <div class="m"></div>
      </div>
    </div>
    <div class="phone">
      <div class="iphone-body">
        <div class="camera-1"></div>
        <div class="camera-2"></div>
        <div class="iphone-screen"></div>
      </div>
</div>
    </div>

</div>

<div class="content childrens">
  <div class="left">
    <div class="screen">
      <div class="device">
        <div class="e"></div>
        <div class="f"></div>
        <div class="g"></div>
        <div class="h"></div>
        <div class="i"></div>
        <div class="j"></div>
        <div class="k"></div>
        <div class="l">
          <div class="apple">
            <div class="appleLeft">
              <div class="apple-1el"></div>
            </div>
            <div class="appleRight">
              <div class="btn"></div>
              <div class="btn"></div>
              <div class="btn"></div>
              <div class="inc-btn"></div>
              <div class="btn"></div>
            </div>
          </div>
        </div>
        <div class="b"></div>
        <div class="a"></div>
        <div class="m"></div>
      </div>
    </div>
    <div class="laptop">
    <div class="device">
      <div class="e"></div>
      <div class="f"></div>
      <div class="g"></div>
      <div class="h"></div>
      <div class="i"></div>
      <div class="j"></div>
      <div class="k"></div>
      <div class="l">
        <div class="apple">
          <div class="appleLeft">
            <div class="apple-1el"></div>
          </div>
          <div class="appleRight">
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="inc-btn"></div>
            <div class="btn"></div>
          </div>
        </div>
      </div>
      <div class="b"></div>
      <div class="a"></div>
      <div class="m"></div>
    </div>
    </div>
    </div>

<div class="right">
  <h1 class='flicker'>Boden Childrenswear landing page</h1>
  <p class='width70'>I have built multiple iterations of the childrenswear landing page, this page is updated every month, so resuseable, modular and clean code is of paramount important. These pages featured heavy use of sprite based animation, paralax scrolling and in page navigation. </p>
 <div class="btn-box">
   <a href="">
     <p class='btn-fade'>click to view</p>
   </a>
 </div>
</div>
</div>

</section>

</div>

<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-body">
    </div>
  </div>

</div>
</div>
<script type="text/javascript">
var ctx = document.getElementById("myChart").getContext("2d");
var purple_orange_gradient = ctx.createLinearGradient(0, 0, 0, 170);
purple_orange_gradient.addColorStop(0, 'rgba(255, 99, 132, 0.2)');
purple_orange_gradient.addColorStop(1, 'rgba(75, 192, 192, 0.2)');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["Semantic HTML5", "CSS3/SASS", "ES6/jQuery", "Bootstrap",'Subversion', "CSS animation", "Monetate", "Accessability","Agile methodologies","Angular", "chart.js (used to build this)","Express.js","Git/Github", "Node.js","npm","MongoDB","Photoshop", "React" ,  "Gulp", "Bower", "Ruby", "AWS", "Rails", "SQL",  "TDD", "Vue", "Wordpress"],
    datasets: [{
      label:'# of Tomatoes',
      data: [20, 20, 19, 18, 17,17, 17, 16, 16, 15, 15, 15,15,15, 12, 12,12, 10, 10, 10, 10, 10, 8, 7, 7, 5, 5],
      backgroundColor: [
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)',
        'rgba(141, 133, 255, 0.3)'
      ],
      borderColor: [
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)',
        'rgba(141, 133, 255, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
		legend: {
		    display: false,
		      labels: {
		        display: false
		      }
		  },
    responsive: false,
    scales: {
      xAxes: [{
        ticks: {
          maxRotation: 90,
          minRotation: 80,
          fontSize: 12
        }
      }],
			yAxes: [{
			    ticks: {
			        beginAtZero:true,
							stepSize:5,
              fontSize: 12
			    },
			    scaleLabel: {

			    },
			    afterTickToLabelConversion : function(q){

			       q.ticks[0] = 'Very confident';
						 q.ticks[1] = 'Quite confident';
						 q.ticks[2] = 'Understand basics';
						 q.ticks[3] = 'Touched upon';
						 q.ticks[4] = '';

			    }
			}]
    },
		tooltips: {
				enabled: true,
        footerFontSize:0,
        bodyFontSize: 0
	 }
  }
});

//radar Chart
var ctx = $("#myRadarChart");
var data = {
  labels: ["STA", "STR", "AGI", "LUK", "CHA", "INT"],
  datasets: [
    {
      label: "DATA1",
      backgroundColor: "rgba(141, 133, 255, 0.3)",
      pointBackgroundColor: "#34b44a",
      data: [10, 4, 13, 10, 17, 16]
    }]
};

var options = {
  title: {
    display: false,
  },
	legend: {
			display: false,
				labels: {
					display: false
				}
		},
  elements: {
        point: {
            radius: 0
        },
        gridLines: {
              display: false
            }
  },
  scale: {
    angleLines: {
      color: '#eee'
    },
    gridLines: {
      color: '#eee'
    },
    pointLabels: {
      fontColor: '#000',
			fontSize:10,
      fontFamily: 'Helvetica'
    },
    ticks: {
      min: 0,
      max: 20,
      stepSize: 20,
      display: false
    }
  },
  tooltips: {
    enabled: false
  }
};

var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: data,
    options: options
});


//checkbox on click opacity effect
$( "#menuToggle" ).click(function() {
    if (  $( '.wrapper' ).css( "opacity" ) == '1' ){
        $('.wrapper').css("opacity","0.5");
    } else {
        $('.wrapper').css("opacity","1" );
    }
});

//modal on click of image
$(".denim .device").click(function(){
$(".modal-body").html("<img src='./css/denim-fit-big.png' class='modal-img'>");
$("#myModal").modal();
});

$(".denim .iphone-body").click(function(){
$(".modal-body").html("<img src='./css/denim-mob.png' class='modal-img'>");
$("#myModal").modal();
});

$(".childrens .laptop .device").click(function(){
$(".modal-body").html("<img src='./css/CW-july-big.jpg' class='modal-img'>");
$("#myModal").modal();
});
</script>
