@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


@font-face {
	font-family: 'CoreCircus2DDot1';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot');
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'CoreCircus';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot');
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf') format('truetype');
}

$h1:  rgba(45,45,45,1);
$blue: #98b5cc;
$yellow: #ffcc00;
$outline: rgba(#fff, .4);
$shadow: rgba($yellow, .5);

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.01em;
  font-weight: bold;
  line-height: 26px;
}

.hero{
  position: relative;
  height: 500px;
  width: 100%;
  background: url("./hero.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  .nerdy-pen {
    display: flex;


&__text {
  color: #fff;
 font-family: 'Roboto', sans-serif;
  padding: 1em 40px;
  text-align: center;
  font-size: 3.5em;
}
}

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
  }
}

.wrapper{
  padding-top: 50px;
  position: relative;
  z-index: 1;
  width: 1000px;
  margin:0 auto;
  overflow: auto;
  transition-property: opacity;
  transition-duration: 0.5s;


  .about{
    margin-top: 60px;
    position:relative;
    h2{
      font: 35px/25px 'Sanchez', serif;
      width:500px;
      margin-top: -70px;
      margin-left: 500px;
      text-align: center;
      right: 20px;
      letter-spacing: 0.02em;
    }
    .content{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .left{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .right{
      width: 50%;
      margin-top:-30px;
      p{
        margin-top: 20px;
      }
    }
  }
  .spotify{
    margin-top: 135px;
    position:relative;
    .content{
      margin-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .left{
      width: 46%;
      margin: 10px;
      margin-top:-90px;
      .second{
        margin-top: 20px;
      }
    }
    .right{
      margin-top: -50px;
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }
  .skills{
    .tech{
      margin-left: 0;
      margin-top: 100px!important;
      margin-bottom:50px!important;
    }
    h2{
      margin-top: 0!important;
      margin-bottom: 30px;
    }
    .right{
      p{
        width: 90%;
        margin: 0 auto;
      }
    }
  }
 .portfolio{
   height:3800px;
   margin-top: 50px;
   h2{
     font: 35px/25px 'Sanchez', serif;
     width:500px;
     margin-left: 0px;
     text-align: center;
     letter-spacing: 0.02em;
   }

   .content{
     margin-top: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .left{
     position: relative;
     width: 50%;
     margin-right: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
     .screen{
       transform:scale(0.8);
     }
   }
   .right{
     width: 40%;
     .btn-box{
       margin-top:30px;
       display: flex;
       justify-content: center;
       align-items: center;
       a:hover{
         text-decoration: none;
       }
       p{
         color: white;
         font: 20px/20px 'Montserrat', sans-serif;
         background: black;
         width:200px;
         padding:10px 0;
         text-align: center;
         font-weight: bold;
         text-transform: uppercase;
       }
     }
   }
   p{
     text-align: center;
   }
   .christmas{
     margin-top:100px;
     .left{
       margin-right: 0;
     }
     .right{
       margin-right: 10%;
     }
     .phone{
       left: -27%;
     }
   }
   .childrens{
     margin-top: 100px;
     .device{
       background: url('./CW-sep.png'), white;
       background-size: contain;
       background-repeat: no-repeat;
       background-position: center 30px;
     }
     .right{
       .width70{
         width: 75%;
         margin: 0 auto;
       }
     }
   }
   .laptop{
      position: absolute;
      top: 160px;
      left: 180px;
      transform: scale(0.8);
      .device{
        background: url('./CW-july.png'), white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center 30px;
      }
   }
   .pokemon{
     margin-top:100px;
     .left{
       margin-right: 0;
     }
     .right{
       margin-right: 10%;
     }
     .device{
       background: url('./pokemon.png'), grey;
       background-size: contain;
       background-position: -5px 36px;
       background-repeat: no-repeat;
     }
   }
   .gigTonight{
      margin-top:100px;
      .device{
        background: url('./gig.png'), grey;
        background-size: contain;
        background-position: -5px 36px;
        background-repeat: no-repeat;
      }
   }
   .fabric{
     margin-top:100px;
     .left{
       margin-right: 0;
     }
     .right{
       margin-right: 10%;
     }
     .device{
       background: url('./fabric.png'), grey;
       background-size: contain;
       background-position: -5px 36px;
       background-repeat: no-repeat;
     }
   }
   .donative{
     margin-top:100px;
     .device{
       background: url('./donative.png'), grey;
       background-size: contain;
       background-position: 8px 36px;
       background-repeat: no-repeat;
     }
   }
 }
 .contact{
   margin-top:100px;
   position: relative;
   height: 500px;
   width: 100%;
   background: url("./hero.jpg");
   background-position: bottom;
   background-size: cover;
   background-repeat: no-repeat;
   h2{
     font: 35px/25px Roboto,serif;
     position: relative;
     z-index:100;
      width: 500px;
      margin-left: 0;
      text-align: center;
      letter-spacing: .02em;
      }
      .find-me{
        position: absolute;
        bottom:-50px;
        color: white;
        padding:10px;
        border-bottom: 2px solid white;
        left:50%;
        transform:translate(-50%);
      }
   svg {
     position: absolute;
     top: 0;
     width: 100%;
     height: 10vw;
     transform:scale(-1);
     /* set height to pixels if you want angle to change with screen width */
   }
 }
 .footer{
   height:305px;
   width:100%;
   background: url('./grey.png');
   .icon-container{
     padding-top: 100px;
     display: flex;
    justify-content: space-evenly;
    .icon{
     height: 60px;
     width:60px;
    }
  }
  .top{
    margin-top: 50px;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    font: 15px/15px Roboto,serif;
    position: absolute;
    left:50%;
    transform:translate(-50%);
    width:85%;
    text-align: center;
    border-bottom: 2px solid white;
    cursor: pointer;
  }
  .copyright{
    position: absolute;
bottom: 0px;
width: 40%;
text-align: center;
color: white;
span{
  margin-left:20%
}
  }
 }
}
//underline
.underline--magical {
  background-image: linear-gradient(to right, rgb(215, 109, 119), rgb(255, 175, 123));
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

//radar chart
#myRadarChart{
  margin:0 auto;
  // width: 750px!important;
   height: 300px!important;
}
//navigation

nav{
    position:fixed;
    z-index: 10;
}
a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #000000;
    transition: color 0.3s ease;
}
a:hover{
    color: #999999;
}
#menuToggle{
    display: block;
    position: relative;
    z-index:11;
    top: 15px;
    padding-left: 93vw;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}
#menu{
    position: absolute;
    left:60%;
    width: 50vw;
    height:calc(100vh + 100px);
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: grey;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
    padding: 10px 0;
    font-size: 22px;
    padding-left: 25vw;
}
#menuToggle input:checked ~ ul{
    transform: scale(1.0, 1.0);
    opacity: 1;
}
//naviagation text animation
/* Highlight text out  */
.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.3)!important;
}

.highlightTextOut a:before{
    position: absolute;
    color: #FFF;
    top: -3px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
}

.container
{
    margin: 0 auto;
	padding: 10em 3em;
}

.container a
{
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.highlightTextOut a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

.nav{
  position: fixed;
  height: 50px;
  width: 100%;
  background: linear-gradient(to right, rgb(58, 28, 113), rgb(215, 109, 119), rgb(255, 175, 123));
  z-index: 10;
}

.blur{
  opacity: 0.5;
}

.margin40{
  margin-bottom: 40px;
}
//hexagon
// cuts the opposite corners from the originally square image to get top right and bottom left sides
.hexagon {
  position: absolute;
  width: 250px;
  height: 400px;
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  overflow: hidden;
}

// top left and bottom right sides
.hexagon-in1 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  overflow: hidden;
}

// sets the image size to be centered in the hexagon and ensures it takes up the full shape and rotates it back into position and sets the width for the image to get left and right sides
.hexagon-in2 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 125%;
  overflow: hidden;
}

.jake{
  background-image: url('./jake.jpg');
  background-position: -17px 40px;
}
#myChart{
  margin:0 auto;
  height: 450px!important;
  width:auto!important;
}

.legendBox{
  width: 100%;
  margin:0 auto;
  height: 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.legendBox .languages, .legendBox .frameworks, .legendBox .libraries, .legendBox .wow, .legendBox .version, .legendBox .other {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legendBox .languages div, .legendBox .frameworks div, .legendBox .libraries div, .legendBox .wow div, .legendBox .version div, .legendBox .other div{
  width: 30px;
  height:10px;
  margin-right: 7px;
  background: rgba(255, 99, 132, 0.2);
  border: 1px solid rgba(255,99,132,1);
  }

.legendBox .frameworks div{
  background: rgba(255, 159, 64, 0.2);
  border: 1px solid rgba(255, 159, 64, 1);
  margin-left: 10px;
}

.legendBox .libraries div{
  background: rgba(75, 192, 192, 0.2);
  border: 1px solid rgba(75, 192, 192, 1);
  margin-left: 10px;
}

.legendBox .wow div{
  background: rgba(54, 162, 235, 0.2);
  border: 1px solid rgba(54, 162, 235, 1);
  margin-left: 10px;
}

.legendBox .version div{
  background: rgba(255, 255, 0, 0.2);
  border: 1px solid rgba(255, 255, 0, 1);
  margin-left: 10px;
}

.legendBox .other div{
  background: rgba(153, 102, 255, 0.2);
  border: 1px solid rgba(153, 102, 255, 1);
  margin-left: 10px;
}

//profolio text
$background: #E0E0E0;
$secondary: salmon;

.font {  font-size:170px; text-align:center; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; font-family: "Avenir Next", "Helvetica Neue", sans-serif}


@mixin shadow($color, $steps, $glow) {
  $all: ();
  $all: append($all, -1px 1px 0 rgba($color,.1), comma);
  $all: append($all, 1px -1px 0 rgba($glow,.1), comma);
  $all: append($all, 1px -1px 25px $glow, comma);
  @for $i from 1 through $steps {
    $all: append($all, append($i*-1px $i*1.9px $i*1px, rgba($color,2/$i)));
  }
  text-shadow: $all;
}

// Second mixin as I still have to figure out the direction parameters...
@mixin shadow-alternate($color, $steps, $glow) {
  $all: ();
  $all: append($all, -1px -1px 0 rgba($color,.1), comma);
  $all: append($all, 1px 1px 0 rgba($glow,.1), comma);
  $all: append($all, 1px -1px 25px $glow, comma);
  @for $i from 1 through $steps {
    $all: append($all, append($i*-1px $i*-1.9px $i*1px, rgba($color,2/$i)));
  }
  text-shadow: $all;
}

.font {
  cursor: pointer;
  color: $background;
  @include shadow( darken($background,25%), 25, white );
  span {
    color: $secondary;
    @include shadow( darken(desaturate($secondary, 80%),20%), 25, lighten($secondary,10%) )
      }
}
//modal
.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.modal-body{
  padding:0px;
}

//imac stylings
.device {
  cursor: pointer;
	background-image: url('./denim-fit.png');
  background-position: 130px 30px;
  background-size: contain;
  background-repeat: no-repeat;
	border-radius: 20px;
	box-shadow:
		0 0 0 5px #aaa inset,
		0 20px 0 0 #000 inset,
		20px 0 0 0 #000 inset,
		0 -20px 0 0 #000 inset,
		-20px 0 0 0 #000 inset,
		0 0 0 0 #000 inset;
	margin: auto;
	position: relative;
	width: 100px;
	height: 107px;
}

.a, .b {
	width: 66px;
	height: 50px;
	margin: auto;
	right: 0;
	left: 0;
}
.a {
	background: #ddd;
	border-radius: 50% 50% 0 0 / 20% 20% 0 0;
	top: -50px;
}
.b {
	background: #ddd;
	border-radius: 0 0 50% 50% / 0 0 20% 20%;
	top: 100%;
}
.c, .d, .e, .f, .g {
	background: #ccc;
}
.c {
	border-radius: 50% 4px 3px 40%;
	top: 24px;
	left: 95px;
	width: 9px;
	height: 24px;
}
.d {
	border-radius: 4px;
	top: 58px;
	left: 98px;
	width: 5px;
	height: 31px;
}
.e, .f, .g {
	border-radius: 2px 0 0 2px;
	transition-duration: 0.2s;
	left: 0;
	width: 0;
}
.e {
	top: 54px;
	height: 20px;
}
.f, .g {
	height: 28px;
}
.f {
	top: 88px;
}
.g {
	top: 124px;
}
.h, .i, .j {
	transform: scale(0,0);
}
.h, .i {
	border-radius: 50%;
}
.h, .j {
	margin: auto;
	right: 0;
	left: 0;
	z-index: 1;
}
.h {
	background: #228;
	box-shadow: 0 0 0 2px #333 inset;
	top: 14px;
	width: 7px;
	height: 7px;
}
.i, .j, .k {
	background: #333;
}
.i {
	top: 27px;
	left: calc(50% - 28px);
	width: 6px;
	height: 6px;
}
.j {
	border-radius: 2px;
	top: 28px;
	width: 32px;
	height: 4px;
}
.k {
	border-radius: 50%;
	right: 0;
	bottom: 12px;
	left: 0;
	margin: auto;
	width: 30px;
	height: 30px;
	transform: scale(0,0);
}
.l {
	background: linear-gradient(#ccc, #ccc) no-repeat;
	background-position: 0 60px;
	border-radius: 0;
	width: 100%;
	height: 60px;
	margin-top: 260px;
}
.m {
	background-color: #000;
	border-radius: 0 0 8px 8px;
	top: 9px;
	right: 0;
	left: 0;
	margin: auto;
	width: 106px;
	height: 16px;
	transform: scale(1,0);
	transform-origin: 50% 0%;
}
.m::before, .m::after {
	border-radius: 50%;
	border: 5px solid transparent;
	border-top-color: #000;
	content: "";
	display: block;
	position: absolute;
	top: -4px;
	width: 20px;
	height: 20px;
}
.m::before {
	left: -15px;
	transform: rotate(45deg);
}
.m::after {
	right: -15px;
	transform: rotate(-45deg);
}
.apple, .apple-1el {
	height: 40px;
}
.apple {
	margin: 10px auto;
	width: 32px;
	transform: scale(1,0);
	transform-origin: 50% 100%;
}
.apple-1el {
	font-weight: 500;
	margin: auto;
	position: absolute;
	top: -10px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 70px;
	transform: scale(0,0);
}
.appleLeft, .appleRight, .apple-1el:before, .apple-1el:after {
	background-color: #000;
	border-radius: 45% 45% 50% 50%;
	position: absolute;
	bottom: 0;
	width: 21px;
	height: 30px;
}
.apple:before, .apple-1el:before {
	content: "\02ca";
	display: block;
	font-size: 40px;
	text-align: center;
}
.apple:before {
	line-height: 36px;
	transform-origin: 50% 100%;
	width: 100%;
}
.apple-1el:before {
	line-height: 16px;
	text-indent: 10px;
}
.apple-1el:after {
	content: "tv";
	font-size: 40px;
	line-height: 26px;
	text-indent: 26px;
}
.appleRight, .apple-1el:after {
	left: 11px;
}
.appleRight {
	background-image: radial-gradient(45% 55% at 90% 41%,#ccc 45%, transparent 50%);
}
.apple-1el:after {
	background-image: radial-gradient(45% 55% at 90% 41%,#222 45%, transparent 50%);
}
.appleRight div {
	background: #404040;
	border-radius: 8px;
	position: absolute;
	width: 16px;
	transform: scale(0,0);
}
.appleRight div:nth-of-type(1),
.appleRight div:nth-of-type(3),
.appleRight div:nth-of-type(5) {
	left: 3px;
}
.appleRight div:nth-of-type(2),
.appleRight div:nth-of-type(4) {
	right: 3px;
}
.appleRight div:nth-of-type(1),
.appleRight div:nth-of-type(2) {
	top: 34px;
}
.appleRight div:nth-of-type(3),
.appleRight div:nth-of-type(4) {
	top: 52px;
}
.appleRight div:nth-of-type(5) {
	top: 70px;
}
.btn {
	height: 16px;
}
.inc-btn {
	height: 34px;
}
//imac
.screen .device {
		box-shadow:
			0 0 0 0 #aaa inset,
			0 30px 0 0 #000 inset,
			24px 0 0 0 #000 inset,
			0 -84px 0 0 #000 inset,
			-24px 0 0 0 #000 inset;
		border-radius: 20px;
		width: 600px;
		height: 440px;

	}
	.screen .a, .screen .b {
		border-radius: 0;
		transition-delay: 0s;
	}
	.screen .a {
		top: calc(100% + 60px);
		left: 0;
		width: 160px;
		height: 5px;
	}
	.screen .b {
		top: 100%;
		width: 120px;
		height: 60px;
	}
	.screen .h {
		top: 12px;
	}
	.screen .l {
		background-position: 0 0;
		border-radius: 0 0 20px 20px;
	}
	.screen .apple {
		transform: scale(1,1);
	}
  /** === iPHONE === **/
.phone{
  transform: scale(0.5);
    position: absolute;
    top: -70px;
    left: 65%;
}
  .iphone-body {
    cursor: pointer;
    position: relative;
    background: #fff;
    border: 4px solid #eee;
    height: 600px;
    width: 300px;
    margin: 100px auto 100px auto;
    border-radius: 40px;
    box-shadow: 0 6px 0 0 #ccc;
  }

  .iphone-body:before {
  	content: "";
  	display: block;
  	position: relative;
  	top: 36px;
  	background: #e7ebec;
  	height: 6px;
  	width: 60px;
  	border-radius: 6px;
  	margin: 0 auto;
  }

  .iphone-body:after {
  	content: "";
  	display: block;
  	position: relative;
  	top: 86px;
  	background: none;
  	height: 34px;
  	width: 34px;
  	border: 6px solid #e7ebec;
  	border-radius: 50%;
  	margin: 0 auto;
  }

  .camera-1 {
  	position: absolute;
  	background: #e7ebec;
  	height: 8px;
  	width: 8px;
  	border-radius: 8px;
  	margin: 12px 0 0 146px;
  }

  .camera-2 {
  	position: absolute;
  	background: #e7ebec;
  	height: 10px;
  	width: 10px;
  	border-radius: 10px;
  	margin: 28px 0 0 90px;
  }

  .iphone-screen {
  	position: relative;
  	top: 70px;
  	background: url('./denim-mob.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  	height: 440px;
  	width: 272px;
  	margin: 0 auto;
  	border: 4px solid #e7ebec;
  	border-radius: 4px;
  }
  //laptop
  .laptop .device {
		box-shadow:
			0 0 0 3px #aaa inset,
			0 30px 0 0 #000 inset,
			24px 0 0 0 #000 inset,
			0 -24px 0 0 #000 inset,
			-24px 0 0 0 #000 inset,
			0 0 0 0 #000 inset;
		border-radius: 20px 20px 0 0;
		transform: translate(0,-10px);
		width: 480px;
		height: 320px
	}
	.laptop .a {
		border-radius: 0 0 10% 10% / 0 0 10px 10px;
		left: -30px;
		width: 540px;
		height: 20px;
    margin-left: -30px;
    border: 1px solid #aaa;
	}
	.laptop .b {
    position: absolute;
    background: #aaa;
    border-radius: 0 0 5px 5px/0 0 10px 10px;
    height: 6px;
    margin-top: -6px;
	}
	.laptop .c, .laptop .d {
		left: 480px;
		width: 0;
	}
	.laptop .h {
		top: 16px;
		transition-delay: 0s;
	}
	.laptop .k {
		transform: scale(0,0);
	}
  .laptop .l{
    margin-top: 130px;
  }



.flicker {
	font-family: 'CoreCircus', sans-serif;
	font-size: 30px;
	text-align: center;
	line-height: 1;
	color: $h1;
	letter-spacing: -.5rem;
  margin-bottom: 30px;
}

//button hover effects
.wrapper .portfolio .right .btn-box .btn-fade{
       background:#111;
        &:hover, &:focus{
            background:lighten(#111,25%);
            transition:300ms ease-in;
        }
      }

.christmas{
  .flicker{
    span{
      font-family: 'CoreCircus', sans-serif;
      font-size: 30px;
      text-align: center;
      line-height: 1;
      color: $h1;
      letter-spacing: -.5rem;
      margin-bottom: 30px;
      margin-left: 10px;
    }
  }
}


//mail to card styles
.transition {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.5,1);
	-moz-transition-timing-function: cubic-bezier(.4,0,.5,1);
	transition-timing-function: cubic-bezier(.4,0,.5,1);
}

.centred-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%)translateY(-50%);
    -moz-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
    text-align: center;
    cursor: pointer;
}

.centred-text:hover {
    opacity: .7;
}

.credits {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
}


.form-container {
    position: absolute;
    width: 600px;
    height: 300px;
    background: #f2f2f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   margin-top:50px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%)translateY(-50%);
    -moz-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
    overflow: hidden;
    overflow: hidden;
    display: none;
}

.form-container.close {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
    transition: .5s;
}

.form-container.close-all {
    width: 0px;
    height: 0px;
}

.form-container.close .form-left {
    width: 0;
    overflow: hidden;
    padding: 0;
}

.form-container.close .form-right {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.form-container.close .message-sent {
    font-size: 0;
}

.form-container.close .message-sent span {
    margin: 0 auto;
}

.close-form {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.18);
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: .8em;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.form-left {
    position: absolute;
    width: 70%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.form-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: slategrey;
    overflow: hidden;
}

.form-right.error {
    -webkit-animation: 3s error forwards;
}

@-webkit-keyframes error {
	0% {background: red}
	100% {background: slategrey}
}

input {
    display: block;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: transparent;
    position: absolute;
    background: transparent;
    height: 100%;
    font-size: 1em;
    font-family: inherit;
    font-weight: 300;
    padding-top: 15px;
}

input:focus,textarea:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f2f2f2 inset;
}

textarea {
    width: 100%;
    height: 80px;
    border: none;
    resize: none;
    background: transparent;
    padding: 0;
    padding-top: 20px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 300;
}

.label {
    display: block;
    font-weight: lighter;
    color: rgb(111, 111, 111);
    position: absolute;
    top: 20px;
    font-size: 1em;
    z-index: -1;
}

.label-line.active .label {
    top: 0px;
    font-size: .8em;
    color: rgb(0, 189, 160);
}

.span {
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgb(192, 192, 192);
    bottom: 0px;
    -webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}

.span.active {
    top: auto;
    bottom: 0px;
}

.label-line {
    position: relative;
    height: 50px;
    margin: 0 0 10px;
}

.label-line.textarea {
    height: 100px;
}

.span:before {
    content: "";
    width: 0;
    left: 50%;
    height: 2px;
    background: rgb(0, 189, 160);
    position: absolute;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}

.label-line.active .span:before {
    width: 100%;
    left: 0%;
    height: 2px;
    background: rgb(0, 189, 160);
}

.button img {
    opacity: .3;
    margin: auto;
    display: block;
}

.button {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.button span {
    margin: 20px 0 0;
    display: block;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
}

/* MATERIAL */

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
	display: block; position: absolute;
	background: rgb(0, 189, 160);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	z-index: 3;
}
/*animation effect*/
.ink.animate {
	-webkit-animation: ripple 0.65s forwards;
	-moz-animation: 'ripple' 0.65s forwards;
	-o-animation: ripple 0.65s forwards;
	animation: ripple 0.65s forwards;
}

@-webkit-keyframes ripple {
	100% {-webkit-transform: scale(2.5);}
}

@-moz-keyframes 'ripple' {
	100% {-moz-transform: scale(2.5);}
}

@-o-keyframes ripple {
	100% {-o-transform: scale(2.5);}
}

@keyframes ripple {
	100% {transform: scale(2.5);}
}

/* MESSAGE SENT */

.message-sent {
    width: 100%;
    top: 50%;
    position: absolute;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    transform:translateY(-50%);
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    display: none;
    z-index: 1000;
}

.message-sent span {
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
}

.message-sent span:before, .message-sent span:after {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.5,1);
	-moz-transition-timing-function: cubic-bezier(.4,0,.5,1);
	transition-timing-function: cubic-bezier(.4,0,.5,1);
}

.message-sent span:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 10px;
    background: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 44px;
    left: 16px;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    transform-origin: top left;
}

.message-sent span:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 10px;
    background: white;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 51px;
    left: 23px;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    transform-origin: top left;
}

.message-sent.active span:before {
	width: 50px;
}

.message-sent.active span:after {
	width: 30px;
}

span.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FCE570;
    z-index: 1000;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translateX(-50%)translateY(-50%);
    -moz-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-weight: 300;
    display: none;
}

button, submit { border:none; }

//glitch text

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

$font: 'Ubuntu Mono', monospace;

.glitch{
  position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      height: 100px;
      width: 40%;
      overflow: hidden;
      margin-bottom: -20px;
      bottom: 0px;
      right: 0;
}

.glitch .text{
	-webkit-animation: jerkwhole 2.5s infinite;
  position:relative;
	padding:0;
	margin:0;
	//display:inline;


	//align-content:center;

}

.glitch span{
	position:absolute;
	color: white;
	font-family: $font;
	font-size:20px;
	text-align:center;
	-webkit-filter: blur(1px);
	-webkit-animation: blur 30ms infinite, jerk 50ms infinite;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100vw;

}

.glitch span:nth-child(1){
	color:red;
  margin-left:8px;
	margin-top:-2px;
  -webkit-filter: blur(2px);

}
.glitch span:nth-child(2){
	color:green;
  margin-left:7px;
  -webkit-filter: blur(2px);
}
.glitch span:nth-child(3){
	color:blue;
  margin-left:-7px;
	margin-top:4px;
  -webkit-filter: blur(2px);
	-webkit-animation: jerkblue .5s infinite;
}
.glitch span:nth-child(4){
	color:white;
  -webkit-filter: blur(1px);
	 text-shadow:0 0 50px rgba(255,255,255,0.4);
}
.glitch span:nth-child(5){
	color:rgba(255,255,255,0.4);
  -webkit-filter: blur(15px);
}



// Animations //

@-webkit-keyframes blur {
  0%   { -webkit-filter: blur(1px); opacity:0.8;}
  50% { -webkit-filter: blur(1px); opacity:1; }
  100%{ -webkit-filter: blur(1px); opacity:0.6; }
}
@-webkit-keyframes jerk {
  50% { left:2px; }
  51% { left:0; }
}
@-webkit-keyframes jerkup {
  50% { top:2px; }
  51% { top:0; }
}

@-webkit-keyframes jerkblue {
  0% { left:0; }
  30% { left:0; }
  31% { left:-10px; }
  32% { left:0; }
  98% { left:0; }
  100% { left:10px; }
}

@-webkit-keyframes jerkgreen {
  0% { left:0; }
  30% { left:0; }
  31% { left:-20px; }
  32% { left:0; }
  98% { left:0; }
  100% { left:15px; }
}

@-webkit-keyframes jerkwhole {
  30% {  }
  40% { opacity:1; top:0; left:0px;  -webkit-transform:scale(1,1);  -webkit-transform:skew(0,0);}
  41% { opacity:0.8; top:0px; left:-100px; -webkit-transform:scale(1,1.2);  -webkit-transform:skew(20deg,0);}
  42% { opacity:0.8; top:0px; left:50px; -webkit-transform:scale(1,1.2);  -webkit-transform:skew(-40deg,0);}
  43% { opacity:1; top:0; left:0; -webkit-transform:scale(1,1);  -webkit-transform:skew(0,0);}
  65% { }
}


//hover animations
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
