*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  padding-top: 50px;
  position: relative;
  z-index: 1;
  width: 1000px;
  margin:0 auto;
  overflow: auto;
  transition-property: opacity;
  transition-duration: 1s;
  .hero{
    position: relative;
    height: 500px;
    width: 100%;
    background: url("./hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .nerdy-pen {
      display: flex;


  &__text {
    color: #fff;
   font-family: 'Roboto', sans-serif;
    padding: 1em 40px;
    text-align: center;
    font-size: 3.5em;
  }
}

    svg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10vw;
      /* set height to pixels if you want angle to change with screen width */
    }
  }

  .about{
    margin-top: 30px;
    position:relative;
    h2{
      font: 35px/25px 'Sanchez', serif;
      width:500px;
      margin-top: -70px;
      margin-left: 500px;
      text-align: center;
      right: 20px;
      letter-spacing: 0.02em;
    }
    .content{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .left{
      width: 50%;
    }
    .right{
      width: 50%;
      margin-top:-30px;
      p{
        margin-top: 20px;
      }
    }
  }
  .spotify{
    margin-top: 30px;
    position:relative;
    .content{
      margin-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .left{
      width: 46%;
      margin: 10px;
      margin-top:-90px;
      .second{
        margin-top: 20px;
      }
    }
    .right{
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }
}
//underline
.underline--magical {
  background-image: linear-gradient(to right, rgb(215, 109, 119), rgb(255, 175, 123));
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

//radar chart
#myRadarChart{
  margin:0 auto;
  margin-top: 50px;
  // width: 750px!important;
   height: 300px!important;
}
//navigation

nav{
    position:fixed;
    z-index: 10;
}
a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #000000;
    transition: color 0.3s ease;
}
a:hover{
    color: #999999;
}
#menuToggle{
    display: block;
    position: relative;
    z-index:11;
    top: 15px;
    padding-left: 93vw;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}
#menu{
    position: absolute;
    left:50%;
    width: 50vw;
    height:100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: grey;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
    padding: 10px 0;
    font-size: 22px;
    padding-left: 25vw;
}
#menuToggle input:checked ~ ul{
    transform: scale(1.0, 1.0);
    opacity: 1;
}
//naviagation text animation
/* Highlight text out  */
.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.3);
}

.highlightTextOut a:before{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
}

.container
{
    margin: 0 auto;
	padding: 10em 3em;
}

.container a
{
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.highlightTextOut a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

.nav{
  position: fixed;
  height: 50px;
  width: 100%;
  background: linear-gradient(to right, rgb(58, 28, 113), rgb(215, 109, 119), rgb(255, 175, 123));
  z-index: 10;
}

.blur{
  opacity: 0.5;
}
